<span *ngIf="package !== null">
  <div class="row">

    <div class="col-13 col-md-2">
      <h2>{{package.name}} </h2>
    </div>
    <div class="col-13 col-md-3 mb-3" *ngIf="package.configOptions?.length > 0">
      <div class="dropdown btn-group" ngbDropdown>

        <button type="button" class="btn btn-outline-primary">{{(selectedOption$ | async)?.replace('.tfvars','')}}</button>
        <button type="button" class="btn btn-outline-primary" ngbDropdownToggle></button>
        <ul class="dropdown-menu" ngbDropdownMenu>
          <li class="dropdown-item" (click)="selectOption(option)" *ngFor="let option of package.configOptions">{{option}}</li>
        </ul>
      </div>
    </div>

  </div>

  <div class="row" *ngIf="packagesWithStates">
    <div class="col-13 col-md-3" *ngFor="let pkg of packagesWithStates">
      <nb-card>
        <nb-card-header>{{pkg.name}}</nb-card-header>
        <nb-card-body >
          <p>Status: {{pkg.state}} {{pkg.states[optionsToPass||'global']?.state}}</p>

          <p *ngIf="optionsToPass" >Steps:
            <span class="add">{{pkg.states[optionsToPass||'global']?.additions}}</span>
            <span class="update">{{pkg.states[optionsToPass||'global']?.changes}}</span>
            <span class="remove">{{pkg.states[optionsToPass||'global']?.destroys}}</span>
          </p>

          <nb-actions size="medium" class="medium float-right">
            <nb-action icon="nb-list"></nb-action>
            <nb-action icon="nb-loop"></nb-action>
          </nb-actions>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div *ngIf="packagesOther">
    <app-package *ngFor="let package of packagesOther" [options]="optionsToPass" [package]="package"></app-package>
  </div>


</span>
