<span *ngIf="package !== null">
  <div class="row">
    <div class="col mb-4 ">
      <h2 class="float-left">{{package.name}}</h2>
      <div class="float-left ml-3" *ngIf="package.tfVars?.length > 1">
        <div class="dropdown btn-group" ngbDropdown>
          <button type="button" class="btn btn-primary">{{package.tfVars[0].replace('.tfvars','')}}</button>
          <button type="button" class="btn btn-primary" ngbDropdownToggle></button>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <li class="dropdown-item" *ngFor="let option of package.tfVars">{{option.replace('.tfvars','')}}</li>

          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="row" *ngIf="packagesWithStates">
    <div class="col-13 col-md-3" *ngFor="let package1 of packagesWithStates">
      <nb-card>
        <nb-card-header>{{package1.name}}</nb-card-header>
        <nb-card-body>
          Boom</nb-card-body>
      </nb-card>
    </div>
  </div>

  <div *ngIf="packagesOther">
    <app-package *ngFor="let package of packagesOther" [package]="package"></app-package>
  </div>


</span>
