<span>
    <h2>{{package.name}}</h2>
    <!-- <div class="dropdown btn-group" ngbDropdown>
            <button type="button" class="btn btn-primary">Dropdown</button>
            <button type="button" class="btn btn-primary" ngbDropdownToggle></button>
            <ul class="dropdown-menu" ngbDropdownMenu>
              <li class="dropdown-item">Icon Button</li>
              <li class="dropdown-item">Hero Button</li>
              <li class="dropdown-item">Default</li>
            </ul>
        </div> -->
    <div class="row" *ngIf="packagesWithStates">
      <div class="col-3" *ngFor="let package1 of packagesWithStates">
        <nb-card  >
            <nb-card-header>{{package1.name}}</nb-card-header>
            <nb-card-body>
              Boom</nb-card-body>
        </nb-card>
      </div>
    </div>
    <app-package-list [packages]="packagesWithSettings"></app-package-list>
    <app-package-list [packages]="packagesOther"></app-package-list>
</span>
